.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;

}

.Header{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.Navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(247, 205, 205);
}

.Nav-Item{
  float: left;
  padding: 20px;
}

.Landing{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.play{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}